@media (max-width: 767px) {
    .file-menu-buttons {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .file-menu-button {
        width: 140px;
        margin-bottom: 5px;
    }

    .file-buttons {
        display: none;   
    }

    .mobile-file-buttons {
        display: flex;
        align-items: flex-start;
        height: 100px;
    }

    .row-1, .row-2 {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .file-button-mobile {
        background-color: #2ba84a;
        color: #161925;
        font-size: 16px;
        margin-right: 10px;
        /*height: 30px;*/
        padding: 5px;
        min-width: 100px;
        text-align: center;
        border: none;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .file-button-mobile:hover {
        background-color: #32c557;
        cursor: pointer;
    }

    .file-form {
        width: 100%;
    }

    .file-title, .file-description {
        width: 400px;
    }

    .file-code {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .file-title, .file-description {
        width: 90%;
    }
}
